.Dictionary {
  text-align: start;
}
.container {
  margin-top: 50px;
}
.form-control:focus {
  border-color: #769a2a;
  box-shadow: 0 0 0 0.2rem rgba(166, 187, 121, 0.801);
}

.section {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 10px 20px rgba(0 0 0 /10%);
  margin: 20px 0;
}
.Dictionary h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: start;
}
.Dictionary .Word-search {
  margin-bottom: 50px;
}
.Dictionary .word-hint {
  margin-top: 5px;
  font-size: 12px;
}
@media (max-width: 820px) {
  .section {
    margin-left: 20px;
    margin-right: 20px;
  }
}
