.Synonyms {
  margin: 20px 0 0;
  padding: 0;
}
.Synonyms li {
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  line-height: 1;
  color: #769a2a;
  border: 1px solid rgba(185, 211, 118, 0.911);
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 15px;
}
